.card{
display:flex;
flex-direction:row;
width:300px;
margin-left:400px;
margin-top:50px;

}
.btn{

color:white;
background-color: blue;


}
.btn:hover{

color:blue;
background-color: white;

}
body{

	background-color: lightblue;
}